* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

html {
  overflow-x: hidden;
}

body {
  font: 400 14px 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #ecf0f1;
  color: #222;
}

html, body {
  width: 100%;
  min-height: 100vh;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
    supported by Chrome, Edge, Opera and Firefox */
}

.custom-nav {
  background-color: #30c1f0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
}

.navbar-brand {
  font-size: 32px;
  font-family: Bungee, sans-serif;
  padding: 0;
}

.custom-nav a {
  color: whitesmoke;
}

header {
  z-index: 20;
}

header > nav {
  padding: 0 5% !important;
}

main {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  width: 100%;
  padding-top: 36px;

  background: url("/animations/standard.jpg") no-repeat center center fixed;
  background-size: cover;
  transition: background-image 1.5s;
}

/* Book-container content (arrows, book) */
.book-container {
  align-self: center;

  display: flex;
  align-items: center;
  height: 500px;
  width: 100%;
  max-width: 1040px;
  margin-bottom: 48px;

  position: relative;
}

/* Book */
.book {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 4px;

  display: flex;
  z-index: 20;
}

.book .book-content {
  padding: 48px;
  font-size: 32px;

  color: #222;
  flex: 1;
}

.book p {
  margin-bottom: 32px;
  text-align: justify;
}

/* Arrows left/right */
.navigate {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.3);
  font-size: 64px;
  transition: color 250ms;
}

.navigate:hover {
  color: rgba(0, 0, 0, 0.5);
}

.navigate:first-of-type {
  margin-right: 16px;
}

.navigate:last-of-type {
  margin-left: 16px;
}

/* Items animations */
.car,
.firetruck,
.house {
  width: 100%;
}

.car-img {
  position: absolute;
  left: -600px;
  z-index: 30;
}

.house-img{
  position: absolute;
  left: -800px;
  z-index: 30;
}

.firetruck-img {
  position: absolute;
  right: -600px;
}

@media (max-width: 680px) {
  .navigate {
    position: absolute;
    opacity: 0;
    width: 50%;
    height: 100%;
    z-index: 9999;
  }

  .navigate:first-of-type {
    right: 50%;
  }

  .navigate:last-of-type {
    left: 50%;
  }
}
