<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="/assets/vendor/bootstrap/css/bootstrap.min.css"
    />
    <link href="/assets/vendor/fonts/circular-std/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/libs/css/style.css" />
    <link
      rel="stylesheet"
      href="/assets/vendor/fonts/fontawesome/css/fontawesome-all.css"
    />
    <link
      rel="stylesheet"
      href="/assets/vendor/charts/chartist-bundle/chartist.css"
    />
    <link
      rel="stylesheet"
      href="/assets/vendor/charts/morris-bundle/morris.css"
    />
    <link
      rel="stylesheet"
      href="/assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css"
    />
    <link rel="stylesheet" href="/assets/vendor/charts/c3charts/c3.css" />
    <link
      rel="stylesheet"
      href="/assets/vendor/fonts/flag-icon-css/flag-icon.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Bungee&display=swap"
      rel="stylesheet"
    />
    <title>Booklive</title>
  </head>

  <body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
      <header>
        <nav class="navbar navbar-expand-sm custom-nav pd5">
          <a class="navbar-brand" href="/">LOGO</a>
        </nav>
      </header>
      <!-- ============================================================== -->
      <!-- wrapper  -->
      <!-- ============================================================== -->
      <div class="dashboard-wrapper">
        <div class="dashboard-ecommerce">
          <div class="container-fluid dashboard-content">
            <!-- ============================================================== -->
            <!-- pageheader  -->
            <!-- ============================================================== -->
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                  <h2 class="pageheader-title">Matheus Silva - 1º ano A</h2>
                  <div class="page-breadcrumb">
                    <nav aria-label="breadcrumb">
                      <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                          <a
                            href="#"
                            class="breadcrumb-link"
                            style="font-size: 14px;"
                            >Relatórios</a
                          >
                        </li>
                        <li
                          class="breadcrumb-item active"
                          aria-current="page"
                          style="font-size: 14px;"
                        >
                          Análise de rendimento por aluno
                        </li>
                      </ol>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
            <!-- ============================================================== -->
            <!-- end pageheader  -->
            <!-- ============================================================== -->
            <div class="ecommerce-widget">
              <div class="row">
                <!-- ============================================================== -->
                <div class="col-xl-9 col-lg-12 col-md-6 col-sm-12 col-12">
                  <div class="card">
                    <h5 class="card-header">Últimas Leituras</h5>
                    <div class="card-body p-0">
                      <div class="table-responsive">
                        <table class="table custom-table">
                          <thead class="bg-light">
                            <tr class="border-0">
                              <th class="border-0"></th>
                              <th class="border-0">Nome do Livro</th>
                              <th class="border-0">Categoria</th>
                              <th class="border-0">Rendimento</th>
                              <th class="border-0">Último Acesso</th>
                              <th class="border-0">Desempenho</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>1</td>
                              <td>Peppa Pig: família</td>
                              <td>Literatura infantojuvenil</td>
                              <td>75%</td>
                              <td>27-08-2018 01:22:12</td>
                              <td>
                                <span class="badge-dot badge-brand mr-1"></span
                                >Regular
                              </td>
                            </tr>
                            <tr>
                              <td>2</td>
                              <td>Os três porquinhos</td>
                              <td>Fábula</td>
                              <td>92%</td>
                              <td>25-08-2018 21:12:56</td>
                              <td>
                                <span
                                  class="badge-dot badge-success mr-1"
                                ></span
                                >Excelente
                              </td>
                            </tr>
                            <tr>
                              <td>3</td>
                              <td>Uma nova cor no jardim</td>
                              <td>Literatura infantojuvenil</td>
                              <td>57%</td>
                              <td>24-08-2018 14:12:77</td>
                              <td>
                                <span class="badge-dot badge-danger mr-1"></span
                                >Ruim
                              </td>
                            </tr>
                            <tr>
                              <td>4</td>
                              <td>O patinho feio</td>
                              <td>Fantasia</td>
                              <td>83%</td>
                              <td>23-08-2018 09:12:35</td>
                              <td>
                                <span
                                  class="badge-dot badge-success mr-1"
                                ></span
                                >Excelente
                              </td>
                            </tr>
                            <tr>
                              <td colspan="9" style="position: relative;">
                                <span
                                  style="
                                    font-size: 11px;
                                    position: relative;
                                    top: 10px;
                                  "
                                >
                                  *Rendimento é a (quantidade de palavras
                                  pronunciadas corretamente) / (total de
                                  palavras)
                                </span>
                                <a
                                  href="#"
                                  class="btn btn-outline-light float-right"
                                  >Histórico Completo</a
                                >
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- ============================================================== -->
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                  <div class="card">
                    <h5 class="card-header">
                      Rendimento Médio do Mês de Julho
                    </h5>
                    <div class="card-body">
                      <div
                        class="ct-chart-category ct-golden-section"
                        style="height: 186px;"
                      ></div>
                      <div class="text-center m-t-40">
                        <span class="legend-item mr-3">
                          <span class="fa-xs custom-primary mr-1 legend-tile"
                            ><i class="fa fa-fw fa-square-full"></i
                          ></span>
                          <span class="legend-text">Acertos</span>
                        </span>
                        <span class="legend-item mr-3">
                          <span class="fa-xs custom-secondary mr-1 legend-tile"
                            ><i class="fa fa-fw fa-square-full"></i
                          ></span>
                          <span class="legend-text">Erros</span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <!-- ============================================================== -->
                <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12">
                  <div class="card">
                    <h5 class="card-header">Principais Sentimentos</h5>
                    <div class="card-body">
                      <div id="c3chart_category" style="height: 420px;"></div>
                    </div>
                  </div>
                </div>
                <!-- ============================================================== -->
                <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12">
                  <div class="card">
                    <h5 class="card-header">Progresso Mensal</h5>
                    <div class="card-body">
                      <div id="morris_totalrevenue"></div>
                    </div>
                    <div class="card-footer">
                      <p class="display-7 font-weight-bold">
                        <span class="text-primary d-inline-block">$26,000</span
                        ><span class="text-success float-right">+9.45%</span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <!-- jquery 3.3.1 -->
    <script src="assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <!-- bootstap bundle js -->
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <!-- slimscroll js -->
    <script src="assets/vendor/slimscroll/jquery.slimscroll.js"></script>
    <!-- main js -->
    <script src="assets/libs/js/main-js.js"></script>
    <!-- chart chartist js -->
    <script src="assets/vendor/charts/chartist-bundle/chartist.min.js"></script>
    <!-- sparkline js -->
    <script src="assets/vendor/charts/sparkline/jquery.sparkline.js"></script>
    <!-- morris js -->
    <script src="assets/vendor/charts/morris-bundle/raphael.min.js"></script>
    <script src="assets/vendor/charts/morris-bundle/morris.js"></script>
    <!-- chart c3 js -->
    <script src="assets/vendor/charts/c3charts/c3.min.js"></script>
    <script src="assets/vendor/charts/c3charts/d3-5.4.0.min.js"></script>
    <script src="assets/vendor/charts/c3charts/C3chartjs.js"></script>
    <script src="assets/libs/js/dashboard-ecommerce.js"></script>
  </body>
</html>
