{% extends 'layout.njk' %}
{% block custom_page_styles %}
  <link rel="stylesheet" href="/css/book-gallery.css">
  <link rel="stylesheet" href="/css/page-index.css">
  <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}

{% include 'parts/header.njk' %}

<div class="galery-container">
  <h1>Últimos lançamentos</h1>

  <div class="grid-container">
    <div>
      <a href="/livros/1"><img class='grid-item grid-item-1' src='/books/book1-a.jpg'></a>
    </div>
    <div>
      <a href="/livros/1"><img class='grid-item grid-item-2' src='/books/book2.jpg'></a>
    </div>
    <div>
      <a href="/livros/1"><img class='grid-item grid-item-3' src='/books/book3.jpg'></a>
    </div>
    <div>
      <a href="/livros/1"><img class='grid-item grid-item-4' src='/books/book4.png'></a>
    </div>
    <div>
      <a href="/livros/1"><img class='grid-item grid-item-5' src='/books/book5.jpg'></a>
    </div>
    <div>
      <a href="/livros/1"><img class='grid-item grid-item-6' src='/books/book7.png'></a>
    </div>
    <div>
      <a href="/livros/1"><img class='grid-item grid-item-7' src='/books/book6.jpg'></a>
    </div>
    <div>
      <a href="/livros/1"><img class='grid-item grid-item-8' src='/books/book8.jpg'></a>
    </div>
    <div>
      <a href="/livros/1"><img class='grid-item grid-item-9' src='/books/book9.jpg'></a>
    </div>
    <div>
      <a href="/livros/1"><img class='grid-item grid-item-10' src='/books/book10.jpg'></a>
    </div>
  </div>
</div>
{% endblock %}
