{% extends 'layout.njk' %}
{% block custom_page_styles %}
  <link rel="stylesheet" href="/css/book-gallery.css">
  <link rel="stylesheet" href="/css/page-index.css">
  <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">  {# <link rel="stylesheet" href="/css/page-index-responsive.css"> #}
{% endblock %}

{% block content %}
<header>
  <nav class="navbar navbar-expand-sm custom-nav pd5">
    <a class="navbar-brand" href="#">LOGO</a>
    <div class="form-group has-search">
      <span class="fa fa-search form-control-feedback"></span>
      <input type="text" class="form-control" placeholder="Pesquisar">
    </div>
  </nav>

  <nav class="navbar navbar-expand-sm navbar-light custom-menu">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">INÍCIO</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">CATEGORIAS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">MEUS E-BOOKS</a>
      </li>
    </ul>
  </nav>
</header>

<div class="galery-container">
  <h1>Últimos lançamentos</h1>

  <div class="grid-container">
    <div>
      <a href="/livros/1"><img class='grid-item grid-item-1' src='https://images.unsplash.com/photo-1544568100-847a948585b9?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ' alt=''></a>
      <p>Por Alexandre Morais</p>
    </div>
    <div>
      <a href="/livros/1"><img class='grid-item grid-item-2' src='https://images.unsplash.com/photo-1517423440428-a5a00ad493e8?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ' alt=''></a>
      <p>"I see those nugs."</p>
    </div>
    <div>
      <a href="/livros/1"><img class='grid-item grid-item-3' src='https://images.unsplash.com/photo-1510771463146-e89e6e86560e?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ' alt=''></a>
      <p>"I love you so much!"</p>
    </div>
    <div>
      <a href="/livros/1"><img class='grid-item grid-item-4' src='https://images.unsplash.com/photo-1507146426996-ef05306b995a?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ' alt=''></a>
      <p>"I'm the baby of the house!"</p>
    </div>
    <div>
      <a href="/livros/1"><img class='grid-item grid-item-5' src='https://images.unsplash.com/photo-1530281700549-e82e7bf110d6?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ' alt=''></a>
      <p>"Are you gunna throw the ball?"</p>
    </div>
    <div>
      <a href="/livros/1"><img class='grid-item grid-item-6' src='https://images.unsplash.com/photo-1548199973-03cce0bbc87b?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ' alt=''></a>
      <p>"C'mon friend!"</p>
    </div>
    <div>
      <a href="/livros/1"><img class='grid-item grid-item-7' src='https://images.unsplash.com/photo-1552053831-71594a27632d?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ' alt=''></a>
      <p>"A rose for mommy!"</p>
    </div>
    <div>
      <a href="/livros/1"><img class='grid-item grid-item-8' src='https://images.unsplash.com/photo-1518717758536-85ae29035b6d?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ' alt=''></a>
      <p>"You gunna finish that?"</p>
    </div>
    <div>
      <a href="/livros/1"><img class='grid-item grid-item-9' src='https://images.unsplash.com/photo-1535930891776-0c2dfb7fda1a?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ' alt=''></a>
      <p>"We can't afford a cat!"</p>
    </div>
    <div>
      <a href="/livros/1"><img class='grid-item grid-item-10' src='https://images.unsplash.com/photo-1504595403659-9088ce801e29?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ' alt=''></a>
      <p>"Dis my fren!"</p>
    </div>
  </div>
</div>
{% endblock %}
