{% extends 'layout.njk' %}
{% block custom_page_styles %}
  <link rel="stylesheet" href="/css/book-gallery.css">
  <link rel="stylesheet" href="/css/page-index.css">
  <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}

{% include 'parts/header.njk' %}

<div class="galery-container">
  <h1>Últimos lançamentos</h1>

  <div class="grid-container">
    <div>
      <a href="/livros/1"><img class='grid-item grid-item-1' src='/books/book2.jpg'></a>
      <p>Por Alexandre Morais</p>
    </div>
    <div>
      <a href="/livros/1"><img class='grid-item grid-item-2' src='/books/book2.jpg'></a>
      <p>"I see those nugs."</p>
    </div>
    <div>
      <a href="/livros/1"><img class='grid-item grid-item-3' src='/books/book3.jpg'></a>
      <p>"I love you so much!"</p>
    </div>
    <div>
      <a href="/livros/1"><img class='grid-item grid-item-4' src='/books/book4.png'></a>
      <p>"I'm the baby of the house!"</p>
    </div>
    <div>
      <a href="/livros/1"><img class='grid-item grid-item-5' src='/books/book5.jpg'></a>
      <p>"Are you gunna throw the ball?"</p>
    </div>
    <div>
      <a href="/livros/1"><img class='grid-item grid-item-6' src='/books/book7.jpg'></a>
      <p>"C'mon friend!"</p>
    </div>
    <div>
      <a href="/livros/1"><img class='grid-item grid-item-7' src='/books/book6.jpg'></a>
      <p>"A rose for mommy!"</p>
    </div>
    <div>
      <a href="/livros/1"><img class='grid-item grid-item-8' src='/books/book8.jpg'></a>
      <p>"You gunna finish that?"</p>
    </div>
    <div>
      <a href="/livros/1"><img class='grid-item grid-item-9' src='/books/book9.jpg'></a>
      <p>"We can't afford a cat!"</p>
    </div>
    <div>
      <a href="/livros/1"><img class='grid-item grid-item-10' src='/books/book10.jpg'></a>
      <p>"Dis my fren!"</p>
    </div>
  </div>
</div>
{% endblock %}
