{% extends 'layout.njk' %}

{% block content %}
<div class="content">
<header>Árvore</header>
  <main>
    <div class="book-container">
      <i
        id="left"
        class="navigate fa fa-chevron-left"
        onclick="Book.changePage(this, 18)"
      ></i>
      <div class="book" id="book">
        <div class="book-content"></div>
        <input type="hidden" value="1" id="tracker" />
      </div>
      <i
        id="right"
        class="navigate fa fa-chevron-right"
        onclick="Book.changePage(this, 18)"
      ></i>
    </div>
  </main>
</div>
{% endblock %}
